.card{
    display: block;
    padding: 7px 10px 7px 10px;
    width: 350px;
    margin: 20px 20px 20px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    transition: 0.2s;
    box-shadow: 0 0 40px 0 rgb(253, 191, 7), 0 0 0 0 rgb(253, 191, 7);
}

.card img {
    width: 325px;
}

.card .title {
    margin-top: 5px;
    font-size: 30px;
    height: 110px;
}
.card p {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
    margin-top: 10px;
}
.card .price {
    margin-bottom: 10px;
    height: 50px;
}
.card button{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}


.disabled {
    pointer-events: none;
    display: block;
    cursor: none;
}

.moreInfo{
    width: 100%;
    padding: 0 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
}
.info{
    font-size: 18px;
}
